:root {
  --header-section-height: 10vh;
  --footer-section-height: 10vh;
}

body {
  color: rgb(19, 186, 55);
  background-color: rgb(30, 30, 34);
  font-family: roboto;
  font-weight: 800;
  padding: 0 20px 0 20px;
}

header{
  min-height: var(--header-section-height);
}

main {
  min-height: calc(100vh - var(--header-section-height) - var(--footer-section-height))
}

footer{
  min-height: var(--footer-section-height);
}

.header-title{
  text-align: center;
}

.dashboard-num{
  font-size: 2rem;
  color: rgb(47, 173, 247);
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}

a:visited{
  color: white;
}